## Live
BINANCE_LIVE_API_KEY=
BINANCE_LIVE_SECRET_KEY=

## Test
BINANCE_TEST_API_KEY=6Lx8ZZkd2VOzqjrVtN4pK7H4dEcZJXqvSXQlZSg6lyhTfzG0q0y2GZzxGu6zW5pL
BINANCE_TEST_SECRET_KEY=zHa0AET44gTwe8eAA0zN1Va04rYaPTsaZTmmVU1matIw3wEELv3ik9i0jELxRuBq

## Slack
BINANCE_SLACK_ENABLED=true
BINANCE_SLACK_WEBHOOK_URL=
BINANCE_SLACK_CHANNEL="#binance"
BINANCE_SLACK_USERNAME=kae1967

## Local Tunnel
BINANCE_LOCAL_TUNNEL_ENABLED=true
### A local tunnel makes the bot accessible from the outside.
### Please set the subdomain of the local tunnel as a subdomain that only you can remember.
BINANCE_LOCAL_TUNNEL_SUBDOMAIN=binace

## Feature Toggles
BINANCE_FEATURE_TOGGLE_NOTIFY_ORDER_CONFIRM=true
BINANCE_FEATURE_TOGGLE_NOTIFY_DEBUG=false
BINANCE_FEATURE_TOGGLE_NOTIFY_ORDER_EXECUTE=true

## Authentication
BINANCE_AUTHENTICATION_ENABLED=true
### Please set your own password.
BINANCE_AUTHENTICATION_PASSWORD=123456
BINANCE_JOBS_TRAILING_TRADE_BOT_OPTIONS_AUTHENTICATION_LOCK_LIST=true
BINANCE_JOBS_TRAILING_TRADE_BOT_OPTIONS_AUTHENTICATION_LOCK_AFTER=120
